<div class="container def">
  <div class="title_div container-hero">
    <h1 class="hero_title">
      Learn to Cook
      <span class="hero_title-span">Tasty Treats'</span> Customizable
      Masterclass
    </h1>
    <p class="hero_text-content">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button type="button" class="hero_btn hero_btn-js">Order now</button>
  </div>
  <div>
    <!-- <div class="swiper mySwiper hero-swiper"> -->
      <!-- <div class="swiper-wrapper js-swiper"> -->
        <!-- <div class="swiper-slide">
          <picture class="chef">
            <source media="(min-width: 0px)" srcset="" type="image/webp" />
            <source media="(min-width: 0px)" srcset="" type="image/jpg" />
            <img src="" alt="" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="dish">
            <source media="(min-width: 0px)" srcset="" type="image/webp" />
            <source media="(min-width: 0px)" srcset="" type="image/jpg" />
            <img src="" alt="" />
          </picture>
          <h2 class="title"></h2>
          <p class="area"></p>
        </div>
        <div class="swiper-slide">
          <picture class="preview">
            <source media="(min-width: 0px)" srcset="" type="image/webp" />
            <source media="(min-width: 0px)" srcset="" type="image/jpg" />
            <img src="" alt="" />
          </picture> -->
        <!-- </div>
      </div>
      <div class="swiper-pagination"></div>
    </div> -->
    <div class="swiper">
      <ul class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide">
            <li class="cooker-heston-card cooker-card"></li>
            <li class="topic-card">
              <div class="barbecue-card card"></div>
              <h2 class="card-title">Grilled, smoky, delicious barbecue</h2>
              <p class="card-area">Spanish</p>
            </li>
            <li class="barbecue-dish dish-card"></li>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide">
            <li class="cooker-anna-card cooker-card"></li>
            <li class="topic-card">
              <div class="pizza-card card"></div>
              <h2 class="card-title pizza-title">Hot, cheesy and satisfying pizza</h2>
              <p class="card-area">Italian</p>
            </li>
            <li class="pizza-dish dish-card"></li>
          </div>
        </div>
        <div class="swiper-slide" data-swiper-autoplay="2000">
          <div class="slide">
            <li class="cooker-ferran-card cooker-card"></li>
            <li class="topic-card">
              <div class="pancakes-card card"></div>
              <h2 class="card-title">Fluffy and sweet pancakes</h2>
              <p class="card-area">American</p>
            </li>
            <li class="pancakes-dish dish-card"></li>
          </div>
        </div>
      </ul>
    </div>
  </div>
  <div class="pages-pagination"></div>
  </div>
  <!-- <a href="/src/favorite.html">123</a> -->
</div>
