<div class="container def">
  <div class="title_div container-hero">
    <h1 class="hero_title">
      Learn to Cook
      <span class="hero_title-span">Tasty Treats'</span> Customizable
      Masterclass
    </h1>
    <p class="hero_text-content">
      TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step
      Video Guides.
    </p>
    <button type="button" class="hero_btn hero_btn-js">Order now</button>
  </div>
  <div>
    <div class="swiper mySwiper hero-swiper">
      <div class="swiper-wrapper js-swiper">
        <!-- <div class="swiper-slide">
          <picture class="chef">
            <source media="(min-width: 0px)" srcset="" type="image/webp" />
            <source media="(min-width: 0px)" srcset="" type="image/jpg" />
            <img src="" alt="" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture class="dish">
            <source media="(min-width: 0px)" srcset="" type="image/webp" />
            <source media="(min-width: 0px)" srcset="" type="image/jpg" />
            <img src="" alt="" />
          </picture>
          <h2 class="title"></h2>
          <p class="area"></p>
        </div>
        <div class="swiper-slide">
          <picture class="preview">
            <source media="(min-width: 0px)" srcset="" type="image/webp" />
            <source media="(min-width: 0px)" srcset="" type="image/jpg" />
            <img src="" alt="" />
          </picture> -->
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <!-- <a href="/src/favorite.html">123</a> -->
</div>
