.hero-favorites-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  margin-top: auto;
  margin-left: auto;
  margin-top: 275px;
  margin-bottom: 320px;
}

@media screen and (min-width: 768px) {
  .hero-favorites-content-wrapper {
    margin-top: 0px;
    margin-bottom: 64px;
  }
}

.hero-favorites-container-image {
  display: none;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .hero-favorites-container-image {
    display: block;
  }
}

.hero-favorites-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #050505;
  max-width: 461px;
}
.container-image {
  display: none;
}
