* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.main-grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 64px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 32px;
  }
}

@media (max-width: 767px) {
  .main-grid-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.main-right {
  width: 782px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .main-right {
    width: 496px;
  }
}

@media (max-width: 767px) {

  .main-right {
    width: 335px;
  }
}

.main-search-menu {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {

  .main-search-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}

@media (max-width: 767px) {
  .main-search-menu {
    max-width: 335px;
    flex-wrap: wrap;
    justify-content: start;
  }
}

.main-search-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 767px) {
  .main-search-wrap {
    max-width: 335px;
  }
}

.main-search-label {
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
}

.main-search-input {
  padding: 14px 18px 14px 48px;
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 0.20);
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  width: 278px;
  background-color: var(--light-body-color);
}

@media (max-width: 767px) {
  .main-search-input {
    width: 335px;
  }
}

.main-search-input::placeholder {
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

.main-search-input:focus-within {
  padding-left: 48px;
  border: 1px solid var(--light-main-accent-color);
  color: var(--light-main-black-text-color);
}

.main-time-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.time-label {
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  margin-bottom: 8px;
}

.time-span {
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

.area-label {
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  margin-bottom: 8px;
}

.main-area-wrapper {
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(5, 5, 5, 0.20);
  border-radius: 15px;
  position: relative;
}

.main-ingredients-wrapper {
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(5, 5, 5, 0.20);
  border-radius: 15px;
  position: relative;
}

.area-span {
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

.ingredients-label {
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  margin-bottom: 8px;
}

.main-ingredients-wrapper {
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(5, 5, 5, 0.20);
  border-radius: 15px;
}

.ingredients-span {
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
}

.input-wrap {
  position: relative;
}

.input-search-icon-wrap {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}

.main-search-reset {
  display: flex;
  align-items: center;
  gap: 4px;
  position: absolute;
  right: 0;
  bottom: -30px;
}

.main-reset-btn {

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-search-reset-text {
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
}

/* ************************* */
/* ******** RECIPES ********* */
/* ************************* */

.main-img-wrap {
  margin-top: 44px;
  margin-bottom: 64px;
}

@media screen and (min-width:768px) and (max-width:1279px) {
  .main-img-wrap {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }
}

.main-img-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media screen and (min-width:768px) and (max-width:1279px) {
  .main-img-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media (max-width:767px) {
  .main-img-menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.main-img-items {
  max-width: 100%;
  position: relative;
  border-radius: 8px;
}

.main-img-items::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(to top, rgba(5, 5, 5, 0.5) 4.82%, rgba(5, 5, 5, 0.1) 70%) no-repeat;
  z-index: 1;
}

.main-img-img {
  width: 100%;
  position: relative;
}

.main-heart {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  z-index: 10;
}

.main-img-text-wrap {
  width: 100%;
  padding: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.main-img-subtext-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-heart-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  stroke: var(--light-body-color);
  fill: transparent;
  transition: var(--animation-slow);
  z-index: 50;
}

.main-heart-btn:hover {
  fill: var(--light-body-color);
}

.main-heart-btn-favorite {
  fill: var(--light-body-color);
}

.heart-icon {
  pointer-events: none;
}

.main-rating-wrap {
  display: flex;
  align-items: center;
}

.main-rating-btn {
  color: var(--light-body-color);
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: var(--light-main-accent-color);
  cursor: pointer;
  transition: var(--animation-slow);
}

@media screen and (min-width:768px) and (max-width:1279px) {
  .main-rating-btn {
    padding: 8px 14px;
  }
}

.main-rating-btn:hover {
  background-color: #758d17;
}

.main-img-title {
  margin-bottom: 8px;
  color: var(--light-body-color);
  text-align: start;
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
}

.main-img-text {
  margin-bottom: 16px;
  color: var(--light-body-color);
  text-overflow: ellipsis;
  font-family: var(--font-main);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.main-rating-span {
  color: var(--light-body-color);
  font-family: var(--font-main);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.28;
  margin-right: 4px;
}


.rating-star {
  opacity: 0.1;
  fill: rgba(248, 248, 248, 0.10);
}

.rating-star-fill {
  fill: var(--raiting-stars-color);
  opacity: 1;
}

.time-wrapper {
  width: 125px;

  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .time-wrapper {
    flex-grow: 1;
  }
}

.main-area-wrap {
  display: flex;
  flex-direction: column;
  width: 141px;
}

@media (max-width: 767px) {
  .main-area-wrap {
    flex-grow: 1;
  }
}



.main-ingredients-wrap {
  display: flex;
  flex-direction: column;
  width: 188px;
}

.select-btn,
.time-options li {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.main-area-wrapper,
.area-options li {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.main-ingredients-wrapper,
.ingredients-options li {
  display: flex;
  cursor: pointer;
  align-items: center;
}


.main-time-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.select-btn {
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(5, 5, 5, 0.20);
  border-radius: 15px;
  position: relative;
}

.open-selected-menu {
  transform: rotate(-180deg);
}

.time-content {
  background-color: var(--dark-main-white-text-color);
  display: none;
  position: relative;
}

.area-content {
  background-color: var(--dark-main-white-text-color);
  display: none;
  position: relative;
}

.ingredients-content {
  background-color: var(--dark-main-white-text-color);
  display: none;
  position: relative;
}

.time-wrapper.active .time-content {
  display: block;
}

.main-area-wrap.active .area-content {
  display: block;
}

.main-ingredients-wrap.active .ingredients-content {
  display: block;
}

.time-select-hover {
  transition: var(--animation);
}

.time-select-hover:hover {
  color: var(--light-main-black-text-color);
}

.area-select-hover {
  transition: var(--animation);
}

.area-select-hover:hover {
  color: var(--light-main-black-text-color);
}



.time-options {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 18px;
  width: 100%;
  max-height: 128px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid rgba(5, 5, 5, 0.20);
  border-radius: 14px;
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  z-index: 100;
  background-color: var(--dark-main-white-text-color);
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  overflow-y: auto;
}

.area-options {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 18px;
  width: 100%;
  max-height: 188px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid rgba(5, 5, 5, 0.20);
  border-radius: 14px;
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  z-index: 100;
  background-color: var(--dark-main-white-text-color);
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  overflow-y: auto;
}

.ingredients-options {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 18px;
  width: 100%;
  max-height: 188px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid rgba(5, 5, 5, 0.20);
  border-radius: 14px;
  color: rgba(5, 5, 5, 0.50);
  font-family: var(--font-main);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  z-index: 100;
  background-color: var(--dark-main-white-text-color);
  box-shadow: 0px 4px 36px 0px rgba(0, 0, 0, 0.02);
  overflow-y: auto;
}



.main-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 100px;
}

@media screen and (min-width:768px) and (max-width:1279px) {
  .main-pagination {
    margin-left: -300px;
  }
}

@media (max-width:767px) {
  .main-pagination {
    margin-left: 0;
  }
}

.main-pagination-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  transition: var(--animation-slow);
  color: var(--light-main-black-text-color);
  border: 1px solid rgba(5, 5, 5, 0.30);
  cursor: pointer;
}

@media (max-width:767px) {
  .main-pagination-btn:nth-child(3) {
    display: none;
  }

  .main-pagination-btn:nth-child(4) {
    display: none;
  }

  .main-pagination-btn:nth-child(5) {
    display: none;
  }
}

.main-pagination-btn:hover {
  border: 1px solid rgba(5, 5, 5, 0);
  background-color: var(--light-main-accent-color);
}

.pagination-btn-1 {
  background-color: var(--light-main-black-text-color);
}

.pagination-btn-2 {
  background-color: var(--light-main-black-text-color);
}


.pagination-btn-pre-last {
  background-color: var(--light-main-accent-color);
}

.pagination-btn-last {
  background-color: var(--light-main-accent-color);
}

.main-pagination-btn-numbers {
  color: var(--light-main-black-text-color);
  font-family: var(--font-main);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.22;
}

.fa-solid {
  color: var(--light-body-color);
}

.pag-container,
.pag-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pag-links {
  margin-left: 16px;
  margin-right: 16px;
}


.main-pagination-btn i {
  pointer-events: none;
}

.main-pagination-btn:disabled {
  color: #b3b3b3;
  pointer-events: none;
}

.main-pagination-btn.active-pag-btn {
  color: var(--light-body-color);
  background-color: var(--light-main-accent-color);
}

.main-pagination-btn-start,
.main-pagination-btn-end {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: var(--animation-slow);
  border: 1px solid rgba(5, 5, 5, 0.30);
  cursor: pointer;
}